@import './blocks/page';
@import './blocks/video-info.css';
@import './blocks/list.css';
@import './blocks/video-selector.css';
@import './blocks/control-panel.css';
@import './blocks/image-type-switcher.css';
@import './blocks/image-space-switcher.css';
@import './blocks/preview-panel.css';
@import './blocks/slider.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
