.image-space-switcher {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    font-family: sans-serif;
    font-size: 15px;
    color: #616368;
}

.image-space-switcher__text {
    align-self: center;
}

.image-space-switcher__label {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;

    font-size: 18px;
    color: #a6a7a9;
}

.image-space-switcher__radio {
    appearance: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;

    outline: 0;
    border: 2px solid #c8c8c8;
    transition: 0.2s all linear;
    margin-right: 7px;

    position: relative;
    top: 2px;
    cursor: pointer;

    -moz-appearance: none;
    -webkit-appearance: none;
}

.image-space-switcher__radio_selected {
    border: 7px solid #34bcba;
}
