.image-type-switcher {
    display: block;
}

.image-type-switcher__radio {
    display: none;
}

.image-type-switcher__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 225px;
    height: 45px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #34bcba;
    
    border: 2px solid #34bcba;
    border-radius: 45px;

    background: none;
}

.image-type-switcher__button:hover {
    cursor: pointer;
}

.image-type-switcher__button_selected {
    color: #ffffff;
    background-color: #34bcba;
}
