.list {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    color: #616368;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 15px;
}

.list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;
}

.list__item-name {
    display: inline flow-root;
    width: 150px;
   
}

.list__item-value {
    display: inline flow-root;
    width: 150px;
}
