.page {
    background-color: #0f1521;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.page__content {
    display: block;
}

.page__element {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.page__element_wide {
    margin-left: 0;
    margin-right: 0;
}
