.slider {
    display: block;
}

.slider__inner {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 5px;
    background: #34bcba;
    outline: none; 
    opacity: 0.7;
    transition: opacity .2s;
    cursor: pointer;
}


.slider__inner:hover {
    opacity: 1;
}

.slider__inner::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    -moz-appearance: none;
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background:#34bcba; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider__inner::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background: #34bcba; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
