.video-selector {
    display: inline;
    width: 225px;
    height: 45px;
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
    color: #34bcba;
    text-indent: 10%;
    
    border: 2px solid #34bcba;
    border-radius: 45px;
    outline: 0px;

    background: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 115%;
    background-size: 40% 40%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
