{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% render_bundle "video_viewer_frontend" extension="css" %}

    <title>Video viewer</title>
</head>

<body>
    <div id="root" class="page"></div>

    {% render_bundle "video_viewer_frontend" extension="js" %}
</body>
</html>
